.brand h1,
.brand h3 {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}
.brand h1 {
  font-size: 48px;
}
.brand h3 {
  font-size: 24px;
  color: var(--primary);
}

.rd-navbar-static:not(.rd-navbar--is-stuck) .rd-navbar-brand .brand h1 {
  font-size: 102px;
}
.rd-navbar-static:not(.rd-navbar--is-stuck) .rd-navbar-brand .brand h3 {
  font-size: 48px;
}

ul.list {
  list-style-type: disc;
}

ul.list li {
  display: list-item;
}

@media only screen and (max-width: 768px) {
a.brand{
  display: flex;
  align-items: center;

}
.brand h1 {
  font-size: 24px;
}

.brand h3 {
  font-size: 18px;
    margin-left: 12px;
}
}